OPENAI_API_KEY=your-openai-api-key-here

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your-langsmith-api-key-here
LANGCHAIN_PROJECT=chinook-customer-support-agent
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

GUARDRAILS_API_KEY=your-guardrails-api-key-here
DEEPEVAL_DEFAULT_MODEL=gpt-4o-mini

default_model=gpt-4o
DB_FILE_PATH=./data/chinook.db
MEMORY_DB_PATH=./data/customer_memory.db

